<ul>
  <li style="float:left; color: whitesmoke;"><h3>Xyz Company</h3></li>
  <li>
    <div *ngIf="loginSuccess" class="dropdown">
    <button class="dropbtn">Hi! {{userName}} <img src="../../assets/images/downArrow.png">
    </button>
    <div class="dropdown-content">
      <a (click)="logout()">Logout</a>
    </div>
</div>
</li>
<li><a [ngClass]="{active: selectedTab === 3}" routerLink="/about" (click)=selectTab(3)>About</a></li>
<li>
  <a *ngIf="!loginSuccess" [ngClass]="{active: selectedTab === 2}" routerLink= "" id='loginLink' data-toggle="modal" data-target="#login" (click)=selectTab(2)>Login</a>
  <a *ngIf="loginSuccess" [ngClass]="{active: selectedTab === 2}" routerLink="/gallery" (click)=selectTab(2)>Gallery</a>
</li>
  <li><a [ngClass]="{active: selectedTab === 1}" routerLink="/home" (click)=selectTab(1)>Home</a></li>  
</ul>

  <div class="modal fade" id="login">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="loginForm" (ngSubmit)="submitCredentials()">
                <div class="modal-header">
                    <h6 class="modal-title">Please enter your credentials</h6>
                    <button type="button" class="close" id='close' name='close' #close data-dismiss="modal" (click)="closeLoginModal()">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                          <label>
                            User ID<span style="color: red"> *</span>
                          </label>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" placeholder="Enter your user Id" class="form-control" formControlName="userId">
                          <div *ngIf="userId.invalid && (userId.dirty || userId.touched)" class="col-sm-12 text-danger">
                            <div *ngIf="userId.errors.required">
                              This information is required.
                            </div>
                          </div>
                        </div>      
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <label>
                            Password<span style="color: red"> *</span>
                          </label>
                        </div>
                        <div class="col-sm-6">
                          <input type="password" placeholder="Enter your user password" class="form-control" formControlName="password">
                          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="col-sm-12 text-danger">
                            <div *ngIf="password.errors.required">
                              This information is required.
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div *ngIf="showErrorMsg" class="text-danger">  You've not entered valid credentials</div>
                <div class="modal-footer">
                    <button class="btn btn-primary pull-right" type="submit"
                        [disabled]="!loginForm.valid"><i
                            class="fa fa-save mr-2"></i>Sign-in</button>
                </div>
            </form>
        </div>
    </div>
</div>