.container {
    margin-left: 10px;
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .heading {
    font-size: larger;
    font-weight: 600;
    margin: 8px;
  }
  
  .heading2 {
    font-size: medium;
    font-weight: 400;
    margin: 8px;
  }
  
  .desc {
    font-size: small;
    margin: 8px;
  }
  
  .signin {
    font-size: small;
    margin: 8px;
  }
  
  .join {
    font-size: small;
    margin: 8px;
  }
  
  a{
      text-decoration: underline;
      cursor: pointer;
      color:blue;
  }
  a:hover{
      text-decoration: none;
      color:blue;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }