<h4>More beautiful images for you..</h4>
<div class="container" *ngIf="galleryCollection !== null && galleryCollection !== undefined">
    <div class="row">
        <div class="column col-sm-3">
            <img src="{{galleryCollection[0].imgSrc}}">
        </div>
        <div class="column col-sm-3">
            <img src="{{galleryCollection[1].imgSrc}}">
        </div>
        <div class="column col-sm-3">
            <img src="{{galleryCollection[2].imgSrc}}">
        </div>
        <div class="column col-sm-3">
            <img src="{{galleryCollection[3].imgSrc}}">
        </div>       
    </div>
    <div class="row">
        <div class="column col-sm-3">
            <img src="{{galleryCollection[4].imgSrc}}">
        </div>
        <div class="column col-sm-3">
            <img src="{{galleryCollection[7].imgSrc}}">
        </div>
        <div class="column col-sm-3">
            <img src="{{galleryCollection[6].imgSrc}}">
        </div>
        <div class="column col-sm-3">
            <img src="{{galleryCollection[1].imgSrc}}">
        </div>       
    </div>
</div>


